<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NDS20WinPlayer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <NDS20WinPlayer.Settings>
            <setting name="Setting" serializeAs="String">
                <value>&lt;?xml version='1.0' encoding='utf-8'?&gt;
&lt;SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="ScreenTest" GeneratedClassName="Settings"&gt;
    &lt;Profiles /&gt;
    &lt;Settings&gt;
        &lt;Setting Name="WindowPosition" Type="System.Drawing.Rectangle" Scope="User"&gt;
            &lt;Value Profile="(Default)"&gt;0, 0, 0, 0&lt;/Value&gt;
        &lt;/Setting&gt;
        &lt;Setting Name="WindowState" Type="System.Windows.Forms.FormWindowState" Scope="User"&gt;
            &lt;Value Profile="(Default)"&gt;Normal&lt;/Value&gt;
        &lt;/Setting&gt;
    &lt;/Settings&gt;
&lt;/SettingsFile&gt;</value>
            </setting>
        </NDS20WinPlayer.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
